<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!-- <button hx-get="/hw">
            Click Me
        </button>
        <div>
            <h1>Unicode Time</h1>
            <p hx-get="/trigger" hx-trigger="load, every 1ms"/>
        </div> -->

        <div hx-ext="ws" ws-connect="/ws"/>

        <div id="cpus"/>
        <script src="/res/htmx/htmx.min.js"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    </body>
</html>